#container {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:  800px;
    height: 60px;
    margin: auto;
}
#container button {
    width: 130px;
    height: 60px;
    margin-left: 15px;
}