#container {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 650px;
    background-color: rosybrown;
    margin: auto;
    border-radius: 20px;
}
#content {
    width: 400px;
    height: 580px;
    margin: auto;
    background-color: lightsteelblue;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}
p {
   font-size: 18px;
    font-weight: bold;
}
.format1 {
    width: 260px;
    height: 30px;
    float: right;
    margin-top: -38px;
}
.input_content {
    width:350px ;
    height: 80px;
    margin: auto;
}
#press {
    width: 160px;
    height: 40px;
    margin-left: 83px;
    font-weight: bold;
    font-size: 20px;
    color: red;
}
.format2 {
    height:120px ;
    margin-top: 5px;
}
.format3 {
    height: 140px;

}
#view {
    width: 260px;
    float: right;
    height: 30px;
}
#result {
    width: 345px;
    height: 50px;

}