#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 450px;
    height: 550px;
    background-color: yellowgreen;
    margin: auto;
    padding-top: 30px;
}
p {
    font-size: 18px;
    font-family: Tahoma sans-serif;
    font-weight: bold;
}
#content {
    width: 360px;
    height: 500px;
    background-color: lavender;
    margin: auto;
    padding: 10px;
    /*box-shadow: 0px 0px 20px 5px pink;*/
    border-radius: 10px;
}
#content .format{
    width: 300px;
    height: 60px;
    margin: auto;

}
#content .format >input{
    width: 200px;
    height: 25px;
    float: right;
    margin-top: -35px;

}
#content  .format1 {
    width: 300px;
    height: 130px;
    margin: auto;
    /*margin-top: 10px;*/

}
#content  .format1 >input {
    width: 200px;
    height: 25px;
    float: right;
}
#content  .format1  #result {
    height: 40px;
}

#content  .format1 #press {
    width: 120px;
    height: 40px;
    margin-top: 15px;
    margin-right: 85px;
    font-weight: bold;
    font-size: 20px;
    color: red;
}
#content  .format1 #result {
    width: 280px;
}
